
.card {
    width: 90%; 
    max-width: 250px; 
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    overflow: hidden; 
    margin: 10px auto; 
    cursor:pointer;
  }
  

  .card-img-container {
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    background-color: #ebebeb;
    border-radius: 8px;
    margin: 10px;
  }
  
  .card-img-container img {
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain;
  }
  
  .card-title {
    padding: 1rem 0.5rem; 
    font-size: 0.8rem;
    color: #333;
  }
  