.jugToolbar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
    background-color: blue;
    color: white;
    border-radius: 8px;
    gap: 15px;
    flex-wrap: wrap; 
    overflow: hidden; 
}

.jugToolbar-img {
    flex: 0 0 auto;
    width: 140px; 
    height: 140px; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
    overflow: hidden; /* Asegura que la imagen no se desborde */
}

.jugToolbar-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px; /* Añade bordes redondeados a la imagen */
}

.jugToolbar-jugData {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: flex-start;
    min-width: 50%;
}

.jugToolbar-jugEstadisticas {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    min-width: 30%; 
}


@media (max-width: 768px) {
    .jugToolbar-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .jugToolbar-img {
        max-width: 100px;
        max-height: 100px;
    }

    .jugToolbar-jugData,
    .jugToolbar-jugEstadisticas {
        width: 100%;
        text-align: center;
    }
}
